name: Build Windows DLL

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Visual Studio Environment
      uses: ilammy/msvc-dev-cmd@v1
    
    - name: Download and Build Detours
      run: |
        curl -L -o detours.zip https://github.com/microsoft/Detours/archive/refs/tags/v4.0.1.zip
        tar -xf detours.zip
        cd Detours-4.0.1/src
        nmake
    
    - name: Compile DLL
      run: cl.exe /LD version.cpp /DEF:version.def /I"Detours-4.0.1/include" /link Detours-4.0.1/lib.X64/detours.lib kernel32.lib user32.lib shell32.lib wininet.lib
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: version-dll
        path: version.dll
